.app {
  display: grid;
  grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://via.placeholder.com/150');
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding-left: 15px;
}

.header-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 5% 40% 40% 15%;
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
}

.header-button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-button:focus {
  outline: none;
}

.header-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.header-dropdown-container {
  position: relative;
}

.header-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 8px;
  padding: 10px 0;
  list-style: none;
  margin: 5px 0 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-button:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-dropdown-menu.hidden {
  display: none;
}

.header-dropdown-menu.visible {
  display: block;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: #fff;
  overflow: hidden;
  height: calc(100vh - 90px);
}

.footer {
  grid-area: footer;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  height: calc(100vh - 90px - 30px - 150px);
}

.main-bottom-area-control-bar {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: space-between;
  align-items: center;
  background: #505050;
  padding-left: 30px;
  height: 30px;
}

.main-bottom-area-control-bar-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.main-bottom-area-control-bar-grid-1-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
}

.main-bottom-area-control-bar-grid-1-button.active {
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

.data-panel {
  display: grid;
  grid-template-columns: 15% 25% 60%;
  justify-content: space-between;
  background: #505050;
  color: #fff;
  height: 150px;
}

.data-selection-controller {
  display: flex;
  justify-content: left;
  align-items: start;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
  position: relative;
}

.data-selection-item-container {
  flex: 1;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
  box-sizing: content-box;
  padding-left: 10px;
}

.data-selection-item-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.data-selection-item-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.data-selection-item-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.data-selection-item-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.data-selection-item {
  padding: 2px 2px;
  margin: 2px 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  user-select: none; /* Prevent text selection */
  font-size: 10px;
}

.data-selection-item:hover {
  background-color: #666;
  border-color: #ccc;
}

.data-selection-item:active {
  background-color: #d9d9d9;
  border-color: #bbb;
}

.data-selection-item.selected {
  background-color: #666;
  color: white;
  border-color: #ccc;
}

.data-property-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: #505050;
  color: #fff;
  height: 150px;
  width: 100%;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
}

.data-property-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 35%;
  margin-right: 35%;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

.data-property {
  padding-top: 10px;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.data-property::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.data-property::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.data-property::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.data-property-kv-pair {
  display: flex;
  padding-left: 10px;
  font-size: 12px;
}

.data-property-kv-pair-k {
  font-family: 'Monaco', monospace;
}

.data-property-kv-pair-v {
  font-family: 'Monaco', monospace;
}

.data-property-kv-pair-v-btn-collapse,
.data-property-kv-pair-v-btn-expand {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  margin-right: 8px;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
  font-family: 'Monaco', monospace;
}

.data-property-kv-pair-v-btn-collapse::before,
.data-property-kv-pair-v-btn-expand::before {
  content: '▼';
  display: inline-block;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.data-property-kv-pair-v-btn-collapse::before {
    transform: rotate(0deg);
}

.data-property-kv-pair-v-btn-expand::before {
    transform: rotate(-90deg);
}

.data-panel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #505050;
  color: #fff;
  height: 150px;
  border-left: 1px rgba(255, 255, 255, 0.3) solid;
}

.data-panel-image {
  max-width: 100%;
  max-height: 100%;
}

.unit-param-info-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: top;
  background: #505050;
  color: #fff;
  height: 150px;
}

.sidebar-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  height: 90px;
}

.category-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #666;
  color: #fff;
  height: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #777;
  color: #fff;
  height: 50px;
}

.search-bar-text-input {
  width: 175px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.unit-inventory {
  display: grid;
  padding-left: 5px;
  padding-right: 5px;
  grid-template-columns: 1fr;
  grid-gap: 5px 0px;
  grid-auto-rows: 110px;
  justify-items: left;
  align-items: top;
  background: #888;
  color: #fff;
  height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
}

.unit-description {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
}

.unit-inventory::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.unit-inventory::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.unit-inventory::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.unit-inventory::-webkit-scrollbar-track {
  background-color: transparent;
}

.unit-showcase-slot {
  display: grid;
  justify-content: center;
  align-items: top;
  padding-top: 5px;
  width: 180px;
  height: 100px;
  /* background-color: #ffb9b9; */
  border-radius: 0px;
  user-select: none;
}

.selected-unit-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 85%;
  justify-content: left;
  align-items: top;
  height: 100%;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
  box-sizing: border-box;
}

.selected-unit-bold-label {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 15px;
}

.selected-unit-category {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin-right: 15px;
  padding-top: 5px;
}

.selected-unit-description-text-container {
  grid-column: 1 / span 2;
  justify-content: left;
  align-items: center;
  color: #fff;
  font-size: 10px;
  margin-right: 5px;
  padding-left: 15px;
}

.selected-unit-description-text {
  display: flex;
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  align-self: start;
  width: 100%;
  padding-top: 3px;
  font-size: 12px;
}

.selected-unit-uuid {
  display: flex;
  padding-top: 3px;
}

.io-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: start;
  color: #fff;
  height: 100%;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
}

.io-info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  font-size: 12px;
  cursor: pointer;
}

.io-info-display {
  display: grid;
  grid-template-columns: 7.5% 92.5%;
  grid-column: 1 / span 2;
  width: 100%;
  text-align: center;
  align-items: start;
  padding-top: 5px;
}

.io-occupied-flag {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
  justify-self: right;
}

.io-occupied-flag.unoccupied {
  background: red;
}

.io-occupied-flag.occupied {
  background: pink;
}

.io-label {
  display: flex;
  justify-content: left;
  margin-left: 15px;
  height: 100%;
  color: #fff;
  font-size: 12px;
}

.io-info-header.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.param-controls {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: start;
  color: #fff;
  height: 100%;
  border-right: 1px rgba(255, 255, 255, 0.3) solid;
}

.param-controls-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 5px;
  font-size: 12px;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

.param-info-triplet {
  display: grid;
  grid-template-columns: 10% 20% 40% 30%;
  grid-column: 1 / span 2;
  width: 100%;
  text-align: center;
  align-items: start;
  padding-top: 5px;
}

.param-type {
  display: flex;
  justify-content: right;
  padding-right: 5px;
  height: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.param-name {
  display: flex;
  justify-content: right;
  padding-left: 5px;
  height: 100%;
  color: #fff;
  font-size: 12px;
}

.param-value {
  max-width: 30px;
  font-size: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
  outline: none;
  text-align: center;
  margin-left: 17.5px;
  margin-right: 2.5px;
  padding: 2px 0 0 0;
}

.param-value-string {
  max-width: 90px;
  font-size: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
  outline: none;
  text-align: center;
  margin-left: 17.5px;
  margin-right: 2.5px;
  padding: 2px 0 0 0;
}

.param-value-list-container-grid {
  display: grid;
  align-items: start;
  grid-template-columns: 4% 92% 4%;
  padding-left: 10px;
}

.param-value-grid {
  display: grid;
  align-items: end;
  grid-template-columns:repeat(auto-fit, minmax(10px, 1fr));
}

.param-value-grid input {
  max-width: 80px;
  font-size: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
  outline: none;
  text-align: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 2px 0 0 0;
}

.param-value-list-start {
  display: flex;
  justify-content: right;
  align-items: start;
  font-size: 12px;
}
.param-value-list-end {
  display: flex;
  justify-content: left;
  align-self: start;
  font-size: 12px;
}

.param-apply-button {
  background-color: #A8DADC;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-left: 15px;
  width: 50%;
  justify-self: left;
  align-self: end;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.param-apply-button:hover {
  background-color: #1D3557;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.param-apply-button:active {
  background-color: #1D3557;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.param-container {
  flex: 1;
  max-height: 127.5px;
  overflow-y: auto;
}

.param-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.param-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.param-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.param-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.glassy-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}