.app {
  display: grid;
  grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: #fff;
  overflow: hidden;
  height: calc(100vh - 90px);
}

.footer {
  grid-area: footer;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  height: calc(100vh - 150px);
}

.debug-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #505050;
  color: #fff;
  height: 150px;
}

.sidebar-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  height: 90px;
}

.category-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #666;
  color: #fff;
  height: 40px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #777;
  color: #fff;
  height: 50px;
}

.component-inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #888;
  color: #fff;
  height: calc(100vh - 180px);
}